body{
    display: flex;
    justify-content: center;
    background-color:#E8E8E8;
    color: #575251;
}
.header{
    display: flex;
    justify-content: flex-end;
}
.container{
    width: 1000px;
    height: 800px;
    justify-content: space-evenly;
}
.le{
    display: flex;
    flex-direction: column;
}
.ld{
    width: 50%;
    justify-content: center;
    margin: 10px;

}