@font-face {
    font-family: placa;
    src: url('../../assets/Logo/FE-FONT.TTF');
}
.container body{
    display: flex;
    justify-content: center;
    background-color:#E8E8E8;
    color: #575251;
}
.header-card{
    display: flex;
    justify-content: flex-end;
}
.container{
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    align-items: center;
}
.le-cad{
    display: flex;
    flex-direction: column;
}
.le-cad h1{
    font-size: 50px;
    font-family: placa;
    color: brown;
}
.form{
    display: flex;
    margin: 10px;
    flex-direction: column;
    gap: 20px;
}
.form  input{
    outline: none;
    color: black;
}
.username,
.email,
.password,
.re-password {
    display: flex;
    align-items: center;
    width: 400px;
    height: 60px;
    border-radius: 7px;
    background: #cccc;
}
.username input,
.email input,
.password input,
.re-password input {
    background: none;
    border: none;
    flex: 1;
    margin-left: 10px;
}
.username > svg,
.email > svg,
.password > svg,
.re-password > svg {
  margin-left: 10px; /* Ajuste a margem conforme necessário */
}
.le button{
    background-color: brown;
}
button:hover {
    background-color: #e67f7f;
  }
.ld-cad{
    width: 50%;
    justify-content: center;
    margin: 10px;
    align-items: center;
    justify-content: center;

}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    flex-wrap: wrap;
}
